<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>Olympic Medals Bar Chart Race</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">

  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

  <script src="https://d3js.org/d3.v5.min.js"></script>

  <link rel="stylesheet" href="../static/assets/css/styles.css">
  
  <link rel="icon" href="data:,"> <!-- to avoid favicon error -->

</head>

<body>
  <!-- Start of navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid navbar-custom">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="row">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="col-xs-9 phone-nav">
            <a class="navbar-brand" href="index.html" id="logo">Olympics</a>
              <img class="nav-olympic" src="../static/assets/images/olympicRings.jpg">
            </a>
          </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right navbar-right-custom">

            <li><a href="/data">Data</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Visualizations<span class="caret"></span></a>
              <ul class="dropdown-menu">
               <li><a href="/chart1">Chart1</a></li>
                <li><a href="/chart2">Chart2</a></li>
                <li><a href="/chart3">Chart3</a></li>
                <li><a href="/chart4">Chart4</a></li>
              </ul>
            </li>

            <li><a href="/analysis">Analysis</a></li>

            <li><a href="/olympic_facts">Olympic-Facts</a></li>

          </ul>
        </div><!-- /.navbar-collapse -->

      </div>
    </div><!-- /.container-fluid -->
  </nav>
  <!-- End of navbar -->


  <div class= "container">
    <div class="row">
        <div class="col-md-12">  
                <h1><b>Olympic</b></h1>
                <img class="col-md-12" id="photo" src="https://g.foolcdn.com/image/?url=https%3A//g.foolcdn.com/editorial/images/96040/olympic_rings.jpg&w=2000&op=resize"/>   
        </div>
        <div class="col-md-12">  
            <hr style="height:2px;border-width:0;color:rgb(0, 0, 0);background-color:rgb(0, 0, 0)">
        </div>    
        <div class="container">
          <div class="jumbotron" style="text-align: center">
              <h1>Does money buy medals?</h1>
              <p></p>
          </div>
  
          <div class="row">
              <div class="col-md-12">
                  <h2></h2>
                  <div id="plot"></div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <h2></h2>
                <p>There is a significant relationship between a nation’s GDP and the number of gold medals they win at the Olympics.
                  <br>
                  The top 10 countries with the most medals all have GDPs of more than 1 billion dollars, while the 10 countries with the fewest medals have GDPs well below 1 billion. The average GDP for gold medal winning countries is $1,062,860,000.
                  <br>
                  China has seen phenomenal economic growth over the last couple of decades, which has corresponded with China’s emergence as a global force in international sports.
                
                
                </p>
                <div id="myDiv"></div>
            </div>
        </div>
      </div>
        <div class="col-md-12">  
        </div>
    </div>
    

</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script src="../static/js/chart2plot.js"></script>

<!-- Bootstrap CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>
