<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>Olympics</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">

  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

  <script src="https://d3js.org/d3.v5.min.js"></script>

  <link rel="stylesheet" href="../static/assets/css/sl_styles.css">
  
  <link rel="icon" href="data:,"> <!-- to avoid favicon error -->

</head>

<body>
  <!-- Start of navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid navbar-custom">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="row">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="col-xs-9 phone-nav">
            <a class="navbar-brand" href="/" id="logo">Olympics</a>
            </a>
          </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right navbar-right-custom">

            <li><a href="/olympics/data">Data</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Visualizations<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/olympics/chart1">Gender & BodyComposition</a></li>
                <li><a href="/olympics/chart2">Medals Vs GDP</a></li>
                <li><a href="/olympics/chart3">Medals World View</a></li>
                <li><a href="/olympics/chart4">Sport Chloropleth</a></li>
              </ul>
            </li>

            <li><a href="/olympics/analysis">Analysis</a></li>

            <li><a href="/olympics/olympic_facts">Olympic-Facts</a></li>

          </ul>
        </div><!-- /.navbar-collapse -->

      </div>
    </div><!-- /.container-fluid -->
  </nav>
  <!-- End of navbar -->
  
  
  <!-- Start of wrapper with image -->
  <div class="wrapper">
    <div class="hero text-center">
      <h1>Did you know?</h1>
      <p>Olympic - Facts</p>
    </div>
  </div>


<div class="container">
  
  <h2>Ancient Olympic Games</h2>

      <!-- Facts -->
<!--     <div class="container"> -->
      <blockquote class="blockquote">
        <p class="mb-0">
          The first Olympic Games took place in the 8th century B.C. in Olympia, Greece. 
            Held every four years, in honor of the Greek God Zeus, records show the Ancient 
            Olympic Games began in 776 BC in Olympia and weren't halted until 394 AD.  Then, 
            in the 4th century A.D., all pagan festivals were banned by Emperor Theodosius I 
            and the Olympics were no more.
        </p>
        <footer class="blockquote-footer"> <cite title="Source Title" class="mr-5"><a href="https://www.ef.edu/blog/language/24-facts-about-the-olympics/" title="">Education First: Culture</a></cite>
        </footer>
      </blockquote>

      <!-- Horizontal line -->
    <div class="container">
        <hr>
    </div>

  <h2>Modern Olympic Games</h2>
      <blockquote class="blockquote text-right">
        <p class="mb-0">
          The first modern Olympics was held in 1896 in Athens, Greece and cost roughly $448,000. Compare that to the most recent Olympic Games in Rio 2016 which cost $13.1 billion.
        </p>
        <footer class="blockquote-footer"> <cite title="Source Title" class="mr-5"><a href="https://www.teamempowerhour.com/blog/interesting-and-fun-olympic-facts" title="">Team Empower Hour</a></cite>
        </footer>
      </blockquote>

      <blockquote class="blockquote">
        <p class="mb-0">
          The Olympic Games was resurrected about 1500 years later after 4th century A.D.
          The first modern Olympics were held in 1896 in Greece.
          The Modern Olympic Games are based on the Olympic Games of Ancient Greece.
        </p>
          <footer class="blockquote-footer"> <cite title="Source Title" class="mr-5"><a href="https://www.ef.edu/blog/language/24-facts-about-the-olympics/" title="">Education First: Culture</a></cite>
          </footer>
      </blockquote>

      <blockquote class="blockquote text-right">
        <p class="mb-0">
          The Olympic Games have been hosted by 23 different countries.
          The 2012 London Games were the first Olympics in which all participating countries sent female athletes.
        </p>
        <footer class="blockquote-footer"> <cite title="Source Title" class="mr-5"><a href="https://www.ef.edu/blog/language/24-facts-about-the-olympics/" title="">Education First: Culture</a></cite>
        </footer>
      </blockquote>


      <blockquote class="blockquote">
        <p class="mb-0">
          English and French are the official languages of the Olympics. They are complemented by the official language of the host country.
        </p>
        <footer class="blockquote-footer"> <cite title="Source Title" class="mr-5"><a href="https://worldstrides.com/blog/2018/02/9-facts-about-the-olympic-games-past-and-present/" title="">WorldStrides</a></cite>
        </footer>
      </blockquote>

      <blockquote class="blockquote text-right">
        <p class="mb-0">
          Gold medals are mostly made of silver. Despite the popular belief that the Gold Medal is composed of pure gold, this hasn’t been the case since the 1912 Olympics. Today’s Olympic Gold Medal is an imposter, made almost entirely from silver with approximately 6 grams of gold to meet the standard laid out in the Olympic Charter
        </p>
        <footer class="blockquote-footer"> <cite title="Source Title" class="mr-5"><a href="https://athlonsports.com/olympics/10-surprising-facts-about-olympics" title="">Athlon Sports</a></cite>
        </footer>
      </blockquote>

      <blockquote class="blockquote">
        <p class="mb-0">
          Medal winners are not only inducted into their nation's history and Olympic history, but they are also honoured at the Olympic stadium of that year's tournament. Their names are engraved on the walls of the stadium - allowing their legacy to be written in stone.
        </p>
        <footer class="blockquote-footer"> <cite title="Source Title" class="mr-5"><a href="https://champions-speakers.co.uk/news/14-cool-facts-about-olympics-you-might-not-know" title="">Champions (UK)</a></cite>
        </footer>
      </blockquote>


      <blockquote class="blockquote text-right">
        <p class="mb-0">
          In order for a sport to be included in the Olympics it must be practiced by men in 75 countries on at least 4 continents and by women in 40 countries on at least 3 continents. 
        </p>
        <footer class="blockquote-footer"> <cite title="Source Title" class="mr-5"><a href="https://www.teamempowerhour.com/blog/interesting-and-fun-olympic-facts" title="">Team Empower Hour</a></cite>
        </footer>
      </blockquote>


      <blockquote class="blockquote">
        <p class="mb-0">
          Africa and Antarctica are the only continents in which the Olympics have never been held. 
        </p>
        <footer class="blockquote-footer"> <cite title="Source Title" class="mr-5"><a href="https://www.teamempowerhour.com/blog/interesting-and-fun-olympic-facts" title="">Team Empower Hour</a></cite>
        </footer>
      </blockquote>

      <!-- Horizontal line -->
      <div class="container">
        <hr>
      </div>


<h2>Olympic Prize</h2>
      <blockquote class="blockquote text-right">
        <p class="mb-0">
          The prize for event winners in the Ancient Olympics was an olive branch wreath.
          Since the 1904 Olympics, medals have been awarded in each event, with gold medals 
          for first place, silver for second and bronze for third.
        </p>
          <footer class="blockquote-footer"> <cite title="Source Title" class="mr-5"><a href="https://www.sciencekids.co.nz/sciencefacts/sports/summerolympics.html" title="">SK: Summer Olympic Games</a></cite>
          </footer>
      </blockquote>

      <!-- Horizontal line -->
      <div class="container">
        <hr>
      </div>

          <h2>Olympic Motto</h2>

      <blockquote class="blockquote">
        <p class="mb-0"> 
          The Olympic motto is "Citius, Altius, Fortius", which is Latin for "Faster, Higher, Stronger". 
          It was proposed by Pierre de Coubertin upon the creation of the International Olympic Committee in 1894.
        </p>
          <footer class="blockquote-footer"> <cite title="Source Title" class="mr-5"><a href="https://stillmed.olympic.org/Documents/Reports/EN/en_report_268.pdf" title="">International Olympic Committee Media Relations</a></cite>
          </footer>
      </blockquote>

   <!-- Horizontal line -->
      <div class="container">
        <hr>
      </div>

<h2>Olympic Torch</h2>
      

      <blockquote class="blockquote text-right">
        <p class="mb-0">
          The Olympic flame is lit at Olympia in Greece every two years (Summer and Winter Olympics) 
          before it journeys to the next host nation where it is paraded around until the lighting 
          of the Olympic Cauldron at the opening ceremony.
        </p>
          <footer class="blockquote-footer"> <cite title="Source Title" class="mr-5"><a href="https://www.sciencekids.co.nz/sciencefacts/sports/summerolympics.html" title="">SK: Summer Olympic Games</a></cite>
          </footer>
      </blockquote>


      <blockquote class="blockquote">
        <p class="mb-0">
          The Olympic torch is lit the old-fashioned way in an ancient ceremony at the temple of Hera, 
          in Greece: Actresses, wearing costumes of Greek priestesses, use a parabolic mirror and sun rays 
          to kindle the torch.
        </p>
        <footer class="blockquote-footer"> <cite title="Source Title" class="mr-5"><a href="https://www.ef.edu/blog/language/24-facts-about-the-olympics/" title="">Education First: Culture</a></cite>
        </footer>
      </blockquote>


      <blockquote class="blockquote text-right">
        <p class="mb-0">
          Starting from Greece, the torch starts its relay to the host city: It is usually carried by runners, 
          but it has traveled on a boat, on an airplane (and the Concorde), on horseback, on the back 
          of a camel, via radio signal, underwater, and in a canoe.
        </p>
          <footer class="blockquote-footer"> <cite title="Source Title" class="mr-5"><a href="https://www.ef.edu/blog/language/24-facts-about-the-olympics/" title="">Education First: Culture</a></cite>
          </footer>
      </blockquote>

      <blockquote class="blockquote ">
        <p class="mb-0">
          The relay torch and the Olympic flame are supposed to burn during the whole event. In case 
          the flame goes out, it can only be reignited with a backup flame, which has been lit in Greece 
          as well, and with never a regular lighter!
        </p> 
        <footer class="blockquote-footer"> <cite title="Source Title" class="mr-5"><a href="https://www.ef.edu/blog/language/24-facts-about-the-olympics/" title="">Education First: Culture</a></cite>
        </footer>
      </blockquote>

      <blockquote class="blockquote text-right">
        <p class="mb-0">
          The unlit Olympic torch has also been taken to space several times.</p>
        <footer class="blockquote-footer"> <cite title="Source Title" class="mr-5"><a href="https://www.ef.edu/blog/language/24-facts-about-the-olympics/" title="">Education First: Culture</a></cite>
        </footer>
      </blockquote>


      <!-- Horizontal line -->
      <div class="container">
        <hr>
      </div>

      <h2>Olympic Symbol</h2>

      <blockquote class="blockquote">
        <p class="mb-0">
          The five rings of the Olympic symbol – designed by Baron Pierre de Coubertin, co-founder 
          of the modern Olympic Games – represent the five inhabited continents of the world 
          (Africa, Asia, Australia, Europe, and the Americas), they are linked together in friendship.
        </p>
        <footer class="blockquote-footer"> <cite title="Source Title" class="mr-5"><a href="https://www.ef.edu/blog/language/24-facts-about-the-olympics/" title="">Education First: Culture</a></cite>
        </footer>
      </blockquote>


      <blockquote class="blockquote text-right">
        <p class="mb-0">
          The six colors – blue,  yellow,  black,  green,  red, and the  white background – were 
          chosen because every nation’s flag contains at least one of them.
        </p>
        <footer class="blockquote-footer"> <cite title="Source Title" class="mr-5"><a href="https://www.ef.edu/blog/language/24-facts-about-the-olympics/" title="">Education First: Culture</a></cite>
        </footer>
      </blockquote>

      <!-- Horizontal line -->
      <div class="container">
        <hr>
      </div>

      <h2>Olympics cancelled</h2>

      <blockquote class="blockquote">
        <p class="mb-0">
          Since the opening of the first modern Olympic Games in 1896, the international sports 
          competition has only been canceled three times: once during World War I (1916) and twice 
          during World War II (1940, 1944). Until the 2020 COVID-19 outbreak, which postponed the 
          Summer Olympic games for a year, the Olympics weathered politically charged boycotts and 
          two separate terrorist attacks without being canceled or postponed during peacetime.
        </p>
        <footer class="blockquote-footer"> <cite title="Source Title" class="mr-5"><a href="https://www.olympic.org/news/ioc-ipc-tokyo-2020-organising-committee-and-tokyo-metropolitan-government-announce-new-dates-for-the-olympic-and-paralympic-games-tokyo-2020" title="">International Olympic Committee Media Relations</a></cite>
        </footer>
      </blockquote>

      <blockquote class="blockquote text-right">
        <p class="mb-0"> 
                The 2020 Summer Olympics, originally scheduled to be held in Tokyo, Japan between 24 July 
                and 9 August 2020, were rescheduled for 23 July to 8 August 2021 as a result of the COVID-19 
                pandemic. The Games of the XXXII Olympiad will keep the name Tokyo 2020 for marketing and 
                branding purposes despite being held in 2021.
        </p>
        <footer class="blockquote-footer"> <cite title="Source Title" class="mr-5"><a href="https://www.history.com/news/olympics-postponed-cancelled" title="">Davis Roos - When World Events Disrupted the Olympics</a></cite>
        </footer>
      </blockquote>

          
      <blockquote class="blockquote">
        <p class="mb-0">
          At its 1986 Session in Lausanne, the IOC decided to introduce a change where the summer and winter games were no longer held in the same year. 
          From 1924 to 1992, the Summer and Winter Games were each held in the same year, every four years. 
          This four years period is called the "Olympiad". The last Summer and Winter Games held in the same 
          year were in Barcelona (Summer) and Albertville (Winter) in 1992. Since then, the Summer and Winter 
          Games are each still held every four years but the Summer Games are celebrated during the first year 
          of an Olympiad and the Winter Games held in the third year.
        </p>
        <footer class="blockquote-footer"> <cite title="Source Title" class="mr-5"><a href="https://www.olympic.org/faq/history-and-origin-of-the-games/since-when-have-the-summer-and-winter-games-no-longer-been-held-in-the-same-year" title="">International Olympic Committee Media Relations</a></cite>
        </footer>
      </blockquote>

       <!-- Horizontal line -->
      <div class="container">
        <hr>
      </div>

      <h2>1904 Olympics Marathon</h2>

      <blockquote class="blockquote text-right">
        <p class="mb-0">
          At the 1904 Olympics in St. Louis, the marathon was a total mess: The first place finisher did most of the race in a car, the guy in second almost died from eating rat poison, and the fourth place finisher raced in dress pants and shoes, and took a nap by the side of the road for part of the race.
        </p>
        <footer class="blockquote-footer"> <cite title="Source Title" class="mr-5"><a href="https://www.quora.com/What-is-the-most-interesting-historical-fact-you-know-off-the-top-of-your-head" title="">Quora</a></cite>
        </footer>
      </blockquote>


      <blockquote class="blockquote">
        <p class="mb-0">
          First off, the entire course was very dusty and breathing in that dust caused all kinds of injuries, including one runner who was hospitalized with hemorrhaging after the dust tore his esophagus and stomach lining. The organizer of the race purposefully withheld water in order to test the effects of dehydration. So the whole thing was a nightmare from the start.
        </p>
        <footer class="blockquote-footer"> <cite title="Source Title" class="mr-5"><a href="https://www.quora.com/What-is-the-most-interesting-historical-fact-you-know-off-the-top-of-your-head" title="">Quora</a></cite>
        </footer>
      </blockquote>


      <blockquote class="blockquote text-right">
        <p class="mb-0">
          That first-place finisher, Fred Lorz, hitched a ride in a car to the end of the course after he was struck with serious cramping. He got out shortly before the finish line and crossed it, which fooled some of the onlookers. He claimed he did it "as a joke."
        </p>
        <footer class="blockquote-footer"> <cite title="Source Title" class="mr-5"><a href="https://www.quora.com/What-is-the-most-interesting-historical-fact-you-know-off-the-top-of-your-head" title="">Quora</a></cite>
        </footer>
      </blockquote>


      <blockquote class="blockquote">
        <p class="mb-0">
          That second-place finisher, Thomas Hicks, was given a mixture of egg whites and strychnine, a poison that is often used to kill rodents or birds, as an attempt at a performance-enhancing drug. He was carried across the finish line by his handlers.
        </p>
        <footer class="blockquote-footer"> <cite title="Source Title" class="mr-5"><a href="https://www.quora.com/What-is-the-most-interesting-historical-fact-you-know-off-the-top-of-your-head" title="">Quora</a></cite>
        </footer>
      </blockquote>

      <blockquote class="blockquote text-right">
        <p class="mb-0">
          That fourth-place finisher, Andarín Carbajal (pictured above), was a Cuban national who raised money to attend the Olympics by running the entire length of Cuba. He gambled away all the money when he arrived in the States, and showed up for the race in dress clothing. Thankfully, another runner used a knife to cut his pants into shorts. Carbajal stopped at a roadside orchard for a snack during the race, but the apples were rotten so he was struck with stomach cramps and had to sleep it off
        </p>
        <footer class="blockquote-footer"> <cite title="Source Title" class="mr-5"><a href="https://www.quora.com/What-is-the-most-interesting-historical-fact-you-know-off-the-top-of-your-head" title="">Quora</a></cite>
        </footer>
      </blockquote>

      <!-- Horizontal line -->
      <div class="container">
        <hr>
      </div>

      
      <h2>Olympic Controversy</h2>

      <blockquote class="blockquote">
        <p class="mb-0">
          In one of the most dramatic moments in Olympic history, John Carlos and Tommie Smith made a monumental political statement, making a black power salute on the podium of the 1968 Olympic Games in Mexico. What is less known is that the silver medallist that day was Australian white man, Peter Norman. He stood by the duo in solidarity while displaying a human rights badge. Norman was, like the two American sprinters, attacked by his own country's media for this display and barred from competing in future Olympics.
        </p>
        <footer class="blockquote-footer"> <cite title="Source Title" class="mr-5"><a href="https://champions-speakers.co.uk/news/14-cool-facts-about-olympics-you-might-not-know" title="">Champions (UK)</a></cite>
        </footer>
      </blockquote>


      <blockquote class="blockquote text-right">
        <p class="mb-0">
          Women have been allowed to compete in the Olympics since 1900. 
        </p>
        <footer class="blockquote-footer"> <cite title="Source Title" class="mr-5"><a href="https://www.teamempowerhour.com/blog/interesting-and-fun-olympic-facts" title="">Team Empower Hour</a></cite>
        </footer>
      </blockquote>


      <blockquote class="blockquote ">
        <p class="mb-0">
          The London 2012 Olympic Games was known as the Women's Games because it was the first summer Olympics which showcased true equality. Women were not barred from a single sport and for the first time in history, each and every nation sent a female competitor.
        </p>
        <footer class="blockquote-footer"> <cite title="Source Title" class="mr-5"><a href="https://champions-speakers.co.uk/news/14-cool-facts-about-olympics-you-might-not-know" title="">Champions (UK)</a></cite>
        </footer>
      </blockquote>

</div>

  <div class="container-fluid mx-0 px-0">
    <div class="text-center text-white py-2 bg-secondary">Olympics Dashboard</div>
  </div>
 



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>



</body>

</html>
